<?xml version="1.0"?>
<!--
  Enable indexing of base templates, so that Project-level templates inheriting from this
  Feature can be found in the queries used by this Feature.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
               xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore search:require="solr">
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="preorderable" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="text" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider"/>
              <field fieldName="instocklocations" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="stringCollection" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider"/>
              <field fieldName="outofstocklocations" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="stringCollection" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider"/>
              <field fieldName="orderablelocations" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="stringCollection" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider"/>

              <field fieldName="winteruse" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="bool" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="ispublishedfrompim" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="bool" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="publishdatefrompim" returnType="datetime" format="yyyy-MM-dd'T'HH\:mm\:ss'Z'"/>
              <field fieldName="tpms" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="bool" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>

              <field fieldName="productispublishedfrompim" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="bool" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="productpublishdatefrompim" returnType="datetime" format="yyyy-MM-dd'T'HH\:mm\:ss'Z'"/>
              <field fieldName="producttypeofgood" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>

              <field fieldName="suv" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="bool" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="runonflat" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="bool" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>

              <field fieldName="xl" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="bool" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="aluminium" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="bool" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="tyrewidth" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>

              <field fieldName="rimdiameter" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="aspectratio" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>

              <field fieldName="articlenumber" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="circlediameter" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="tyretype" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="brand" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="lugs" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="noisewaves" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="centerbore" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="envtaxcode" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="backspacing" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="typeofgood" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="ean" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              <field fieldName="energilabelimagepath" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              
             <field fieldName="shortdescription" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="longdescription" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="navdescription" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="supplierarticleNumber" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="seat" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="rimwidth" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              
             <field fieldName="linediscountpercent" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="netprice" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="vatprodpostinggroup" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="currency" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="loadindex" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="noise" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="season" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="rollingresistance" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="rollingcircumference" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="loadclass" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="wetgrip" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="speedindex" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
              
             <field fieldName="rimdiameterformatted" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="text" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="aspectratioformatted" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="text" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="boltcircle" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="lugs2" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="int" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
             <field fieldName="listprice" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="double" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:source="Sitecore.Commerce.Engine.Connectors.Index.Solr.config"/>
           

            </fieldNames>
          </fieldMap>
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_templates" returnType="string" type="Sitecore.ContentSearch.ComputedFields.AllTemplates, Sitecore.ContentSearch" deep="true" includeStandardTemplate="false" />
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>