<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="grant_type" value="password"/>
    <add key="client_id" value="JSSClient"/>
    <add key="scope" value="openid EngineAPI postman_api"/>
    <add key="username" value="sitecore\admin"/>
    <add key="password" value="*YOUR_SITECORE_ADMIN_PASSWORD*"/>
    <add key="tokenAPI" value="https://sc10identityserver.dev.local/connect/token"/>
  </appSettings>
</configuration>